<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agroconnect_Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agroconnect_Login.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand"  asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" width="130" height="60" class="d-inline-block align-text-top" >
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agroconnect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                       <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>--> 

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Divulgações por Categorias
                            </a>
                            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Divulgacoes" asp-action="Produto">Produtos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Divulgacoes" asp-action="Maquina">Máquinas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Divulgacoes" asp-action="Servicos">Serviços</a>
                            </div>
                        </li>
                 
                    </ul>
                     <form class="d-flex" role="search" id="pesquisar">
      <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
     
    </form> 
                    <partial name="_LoginPartial" />
                </div>
            </div>
           
        </nav>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <a href="#header" class="botao-topo">&uarr;</a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear">
                </spa          n> Developers:
                <a href="https://html.        design/"> Kamily     Simeao - Victoria  Da Silva - Gabriel Alves </a>
        </p>
    </div>
</footer>
-->
    
</body>


</html>
