@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Área Dev</h3>
<p>
    Swapping to <strong>Development</strong> exibirá informações mais detalhadas sobre o erro que ocorreu.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções para usuários finais.
    Para depuração local, habilite o ambiente <strong>de</strong> Desenvolvimento definindo a variável <strong>de ambiente ASPNETCORE_ENVIRONMENT</strong> como <strong>Desenvolvimento</strong>
    e reiniciar o aplicativo.
</p>
