@{
    ViewData["Title"] = "Criar";
}

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="~/img/LogoBaldan.png">
                    <span class="font-weight-bold">Baldan</span>
                    <span class="text-black-50">baldan@mail.com.br</span>


              
     

             

                   
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="text-right">Criar postagem</h2>
                    </div>
                    <div class="form-group row mt-3">
                        <label class="labels col-md-12">Titulo</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Titulo da sua postagem" value="">
                        </div>
                    </div>

               
                    <div class="form-group row mt-3">
                        <label for="descricao" class="col-md-12">Descrição</label>
                        <div class="col-md-12">
                        <textarea class="form-control" placeholder="Conte-nos um pouco do seu produto/máquina/serviço..." id="descricao" rows="3"></textarea>
                        </div>
                    </div>
                   

                <div class="form-group row mt-3">
                    <label class="labels col-md-12">Upload de imagem - Opcional</label>
                    <div class="col-md-12">
                        <input type="file" class="form-control-file">
                        <small class="form-text text-muted">Escolha uma imagem para sua postagem.</small>
                    </div>
                </div>

                    <center>
                        <button class="mt-5 text-center" id="botao-center" type="submit"  >Postar</button>
                    </center>
                </div>
            </div>

            
            </div>
        </div>
    </div>
