@model Agroconnect_Login.Models.Publicacao

@{
    ViewData["Title"] = "Criar Publicação";
}






<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="~/img/LogoBaldan.png">
                <span class="font-weight-bold">Baldan</span>
                <span class="text-black-50">baldan@mail.com.br</span>








            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="text-right">Criar postagem</h2>
                </div>
     



                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>

                  

                    <div class="form-group row mt-3">
                        <label asp-for="Descricao" for="descricao" class="col-md-12">Descrição</label>
                       
                        <div class="col-md-12">
                            <textarea asp-validation-for="Descricao"  asp-for="Descricao"  class="form-control" placeholder="Conte-nos um pouco do seu produto/máquina/serviço..." id="descricao" rows="3"></textarea>
                        </div>
                    </div>


                    <div class="form-group row mt-3">
                    <label class="labels col-md-12">Upload de imagem - Opcional</label>
                    <div class="col-md-12">
                    <input type="file" class="form-control-file">
                    <small class="form-text text-muted">Escolha uma imagem para sua postagem.</small>
                    </div>
                    </div>

                    <center>
                    <div class="form-group">
                        <input type="submit" id="botao-center" value="Criar Publicação" class="btn btn-primary" />
                    </div>
                    </center>
                </form>
               
             
            </div>
        </div>

        <div>
            <a asp-action="Index">Voltar</a>
        </div>
    </div>
</div>
  
















@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
