@{
    ViewData["Title"] = "Perfil";
}

<center><h1 id="titulo-Divulg">Divulgações de Produtos</h1></center>

<div class="container bootstrap snippets bootdey">
    <div class="col-md-6">
        <div class="widget widget-blog">
            <div class="widget-blog-cover">
                <img src="https://agroslim.com.br/wp-content/uploads/2020/10/agroslim_Blog_plantio_cafe-1.jpg" alt="">
            </div>
            <div class="widget-blog-author">
                <div class="widget-blog-author-image">
                    <img src="images/bellaVista.jpg" alt="">
                </div>
                <div class="widget-blog-author-info">
                    <h5 class="m-t-0 m-b-1">Bela Vista</h5>
                    <h5 class="text-muted m-0 f-s-11">Grãos de Café</h5>
                </div>
            </div>
            <div class="widget-blog-content">
                <h5 class="text-post">Oferta de Safra de Café Especial</h5>
                <h5 class="text-post">
                    Se você é uma marca de café em busca dos melhores grãos que valoriza a qualidade, não perca a chance de adquirir
                    nossos grãos especiais. Entre em contato para saber mais sobre nossos produtos.
                    <br>
                    <br>
                    - Origem: Nossos grãos de café são cultivados em nossa própria lavoura.
                    <br>
                    - Qualidade Premium: Cada grão é selecionado para garantir a mais alta qualidade.
                    <br>
                    - Sacos de 10 kg: Disponibilizamos sacos de 10 kg por 250,00 para atender às suas necessidades.
                    Entre em contato conosco:
                    <br>
                    - Email: contato@belavistacafe.com
                    ouTelefone: (11) 9876-5432
                </h5>
                <center><button id="botao-center" class="btn btn-primary" type="submit">Saiba mais</button></center>
                <!--
                Características dos Grãos:**

                Origem: Nossos grãos de café são cultivados em nossa própria lavoura com paixão e tradição.
                Qualidade Premium: Cada grão é selecionado a dedo para garantir a mais alta qualidade.
                Sacos de 10 kg: Disponibilizamos sacos de 10 kg para atender às suas necessidades.

                Se você é uma marca de café em busca dos melhores grãos para suas misturas ou um entusiasta do café que valoriza a qualidade, não perca a chance de adquirir nossos grãos especiais. Entre em contato para saber mais sobre nossos produtos e preços.

                -->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget widget-blog">
            <div class="widget-blog-cover">
                <img src="https://th.bing.com/th/id/R.58daae556f7d140c3cbe3e2e843b28cf?rik=wcX2pClLsE8%2fyA&pid=ImgRaw&r=0" alt="">
            </div>
            <div class="widget-blog-author">
                <div class="widget-blog-author-image">
                    <img src="https://blog4.mfrural.com.br/wp-content/uploads/2020/08/fazenda-venda3.jpg" alt="">
                </div>
                <div class="widget-blog-author-info">
                    <h5 class="m-t-0 m-b-1 ">Sol Poente</h5>
                    <h5 class="text-muted m-0 f-s-11">Mel Puro e Natural</h5>
                </div>
            </div>
            <div class="widget-blog-content">
                <h5 class="text-post">Safra de mel!</h5>
                <h5 class="text-post">
                    Se você deseja adquirir nosso mel em barris de 100 kg para sua marca, entre em contato conosco para discutir
                    detalhes, preços e prazos de entrega. Estamos ansiosos para estabelecer parcerias que valorizam a qualidade e
                    a autenticidade do mel. Sabor autêntico e qualidade incomparável. Escolha nosso mel para elevar o sabor de seus produtos!
                    <br>
                    <br>
                    - 100% puro e natural
                    <br>
                    - Sem aditivos ou conservantes
                    <br>
                    - Colhido e processado com carinho
                    <br>
                    - Sabor excepcional e versátil
                    <br>
                </h5>
                <center><button id="botao-center" class="btn btn-primary" type="submit">Saiba mais</button></center>
                <!--
                **Mel Puro de Qualidade em Barris de 100 kg**

                Olá a todos os amantes do mel e marcas de alimentos de qualidade! Estamos entusiasmados em anunciar a disponibilidade de nosso mel puro, produzido com carinho e cuidado, agora em barris de 100 kg.

                **Sobre Nossa Produção:**

                Nossa fazenda é dedicada à criação de abelhas felizes e saudáveis que produzem o mel mais saboroso. Com técnicas de apicultura sustentável, colhemos o mel diretamente das colmeias, garantindo sua pureza e qualidade excepcionais.

                **Perfil de Sabor:**

                Nosso mel é um verdadeiro deleite para o paladar. Com notas de flores silvestres e um toque sutil de frutas maduras, ele é a escolha perfeita para adoçar suas receitas favoritas ou degustar puro.

                **Por Que Escolher Nosso Mel?**

                - 100% puro e natural
                - Sem aditivos ou conservantes
                - Colhido e processado com carinho
                - Sabor excepcional e versátil

                **Disponibilidade em Barris de 100 kg:**

                Para atender às demandas de marcas e indústrias alimentícias, agora oferecemos nosso mel em barris de 100 kg. Essa é a opção ideal para empresas que buscam ingredientes de alta qualidade para seus produtos.

                **Entre em Contato:**

                Se você deseja adquirir nosso mel em barris de 100 kg para sua marca, entre em contato conosco para discutir detalhes, preços e prazos de entrega. Estamos ansiosos para estabelecer parcerias que valorizam a qualidade e a autenticidade do mel.

                Sabor autêntico e qualidade incomparável. Escolha nosso mel para elevar o sabor de seus produtos!

                ---
                -->
            </div>
        </div>
    </div>
</div>



<div class="container bootstrap snippets bootdey">
    <div class="col-md-6">
        <div class="widget widget-blog">
            <div class="widget-blog-cover">
                <img src="https://img.freepik.com/fotos-premium/fazenda-de-cana-de-acucar-usina-de-acucar-verde-ao-por-do-sol_521740-470.jpg?size=626&ext=jpg&ga=GA1.2.1968647580.1668789779&semt=ais" alt="">
            </div>
            <div class="widget-blog-author">
                <div class="widget-blog-author-image">
                    <img src="https://canasol.com.br/wp-content/uploads/2021/08/fazendas-de-cana-de-acucar-640x375-1.jpg" alt="">
                </div>
                <div class="widget-blog-author-info">
                    <h5 class="m-t-0 m-b-1">Fazenda Doce Açúcar</h5>
                    <h5 class="text-muted m-0 f-s-11">Cana-de-Açúcar</h5>
                </div>
            </div>
            <div class="widget-blog-content">
                <h5 class="text-post">Oferta de Safra de Cana-de-Açúcar</h5>
                <h5 class="text-post">
                    Descrição: Temos o prazer de oferecer nossa safra de cana-de-açúcar de alta qualidade diretamente
                    da Fazenda Doce Açúcar. Nossa cana-de-açúcar é cultivada com cuidado e dedicação, garantindo uma
                    qualidade excepcional. Cada tonelada é vendida a um preço justo de R$ 350.
                    <br>
                    <br>
                    Quantidade: 1 tonelada (1000 kg)
                    <br>
                    Preço: R$ 350 por tonelada

                    Contato: Se você está interessado em adquirir nossa cana-de-açúcar, entre em contato conosco pelo e-mail: fazendadoceacucar@gmail.com ou pelo telefone: (11) 1234-5678.
                </h5>
                <center><button id="botao-center" class="btn btn-primary" type="submit">Saiba mais</button></center>
                <!--

                -->
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="widget widget-blog">
            <div class="widget-blog-cover">
                <!--https://blog.chbagro.com.br/user-files/blog/174577.jpg gostei dessa img-->
                <img src="  https://blog.syngentadigital.ag/wp-content/uploads/2021/07/19-07_colheita-milho_3.jpg" alt="">
            </div>
            <div class="widget-blog-author">
                <div class="widget-blog-author-image">
                    <img src="https://girodoboi.canalrural.com.br/wp-content/uploads/sites/4/2021/04/historia-rainha-da-integracao-lavoura-pecuaria-floresta-marize-porto-fazenda-santa-brigida-6.jpeg" alt="">
                </div>
                <div class="widget-blog-author-info">
                    <h5 class="m-t-0 m-b-1 ">Fazenda Florescer</h5>
                    <h5 class="text-muted m-0 f-s-11">Safra de Milho</h5>
                </div>
            </div>
            <div class="widget-blog-content">
                <h5 class="text-post">Colheita de Milho</h5>
                <h5 class="text-post">
                    É com grande satisfação que anunciamos a disponibilidade de nossa safra de milho de alta qualidade,
                    diretamente da Fazenda Florescer. Nosso milho é cultivado com cuidado e dedicação, garantindo grãos de
                    excelência. Cada tonelada está disponível por um preço competitivo de R$ 450.
                    <br>
                    Disponível: 3 tonelada (1000 kg)
                    <br>
                    Preço: R$ 450 por tonelada
                    <br>
                    Contato: Se você deseja adquirir nosso milho, entre em contato conosco através do e-mail: fazendaflorescer@email.com ou pelo telefone: (11) 9876-5432.
                </h5>
                <center><button id="botao-center" class="btn btn-primary" type="submit">Saiba mais</button></center>

            </div>
        </div>
    </div>
</div>
