@{
    ViewData["Title"] = "Perfil";
}
<section class="fundo-verde">
    <section class="banner">
      
        <div class="header">
            <!--<img src="https://digistrat.com.br/wp-content/uploads/2021/04/logo-baldan-connected-marrom.jpeg">-->
            <div class="cover" id="cover-image">
                <div class="perfil-usuario">
                    <img id="perfil-usuario-img" src="~/img/LogoBaldan.png" alt="">
                   
                   
                    <input id="profile-picture-upload" type="file" style="display: none;" accept="~img/*">
                    <input id="cover-photo-upload" type="file" style="display: none;" accept="~img/*">
                </div>


                <!-- Ícones das redes sociais -->
                <div class="redes-sociais">
                    <a href="#" class="rede-social-link"><img src="~/img/facebook.png" alt="Facebook"></a>
                    <a href="#" class="rede-social-link"><img src="~/img/instagram.png" alt="Instagram"></a>
                    <a href="#" class="rede-social-link"><img src="~/img/whatsapp.png" alt="WhatsApp"></a>
                    <a href="#" class="rede-social-link"><img src="~/img/linkedin.png" alt="LinkedIn"></a>
                    <a href="mailto:seuemail@gmail.com" class="rede-social-link"><img src="~/img/email.png" alt="Email"></a>
                    <a href="tel:seunumero" class="rede-social-link"><img src="~/img/telefone.png" alt="Telefone"></a>
                </div>

                <br>
                <br>
                <br>

            </div>
        </div>
    </section>
    <a href="~/Login/Editar" class="rede-social-link btn" id="botao-end">Editar perfil</a>

 




    <!-- Botão para editar fotos de perfil e de capa -->

    <center>
        <!-- Nome da empresa -->
        <div>
            <h3 class="nomeEmpresa">BALDAN</h3>
            <h3 class="sobre-titulo">Sobre a Empresa</h3>
        </div>
        <div id="DescricaoElema">
            <p id="sobre-descricao" class="Divulgacao-titulo">
                A Baldan oferece máquinas e implementos agrícolas de alta qualidade,
                sendo líder no setor agrícola. Seus produtos são feitos com altos padrões de
                qualidade, visando durabilidade e desempenho...
            </p>
            <p class="Divulgacao-titulo"  id="lerMais">Leia mais</p>

            <div id="descricaoCompleta" class="Divulgacao-titulo"  style="display: none;">
                <p>  https://www.baldan.com.br/</p>
                <p class="Divulgacao-titulo" id="sobre-descricao">A Baldan oferece máquinas e implementos agrícolas de alta qualidade, sendo líder no setor agrícola. Seus produtos são feitos com altos padrões de qualidade, visando durabilidade e desempenho excepcionais. Adaptáveis a qualquer escala, desde grandes fazendeiros até pequenos proprietários, suas soluções personalizadas atendem a diversas necessidades. Além disso, a empresa se destaca pelo compromisso com a inovação, constantemente pesquisando e desenvolvendo novas tecnologias e práticas sustentáveis para melhorar a produtividade e o sucesso de seus clientes. Convidam a todos a se juntarem a essa jornada de sucesso.</p>
                <blockquote class="transicao-lema">
                    "Se foram eles os alicerces, seremos nós outros parede sólida de segurança; se eles plantaram, não nos compete colher, mas continuar plantando, pois que a colheita nós oferecemos ao povo brasileiro."
                    <footer>- Oscar Baldan</footer>
                </blockquote>
              
            </div>
        </div>
        </center>

      
        <script>
            document.getElementById("lerMais").addEventListener("click", function () {
                var elemento = document.getElementById("descricaoCompleta");
                if (elemento.style.display === "none") {
                    elemento.style.display = "block";
                    document.getElementById("sobre-descricao").style.display = "none";
                    document.getElementById("lerMais").style.display = "none";
                }
            });
        </script>

        </section>




<hr class="hr">
<button id="botao-end" class="btn btn-primary" type="submit">Criar Publicação</button>
<br>

<br>
<br>
<br>




         <br>
<section>
    <div class="estrutura">
        <img class="logo-parceiros" src="/img/LogoBaldan.png">

        <div class="post-textos">
            <p class="nome-parceiro">Baldan</p>
            <p class="tipo-parceiro">
                Empresa|Maquinas
                <img class="pontinhos" src="~/img/pontos.png">
            </p>
            <hr>
            <center><h5>Apresentamos com entusiasmo a DEMETRA, nossa mais recente inovação em tecnologia agrícola.</h5></center>
            <p class="texto-parceiros" id="texto-parceiros">
                A Semeadora de Precisão Canavieira DEMETRA é a resposta para agricultores em
                busca de eficiência e precisão na semeadura de cana-de-açúcar.
                Com sua tecnologia de ponta, a DEMETRA.
                <br>
                Reservatórios: Disponível em opções de 2000 ou 2500 litros.
                <br>
                Alcance: Barras de 25 a 30 metros para cobertura eficaz.
                <br>
                Potência: Motor de 190 cv para desempenho superior.
                <br>
                Versatilidade: Adapte-se a diversos tipos de terreno com sua transmissão hidrostática.
                <br>
                Confiabilidade: Supere obstáculos com facilidade devido ao seu baixo peso.
                <br>
            </p>
        </div>
        <p class="ler-mais" onclick="toggleText()">Ler mais</p>
        <center>
            <img class="imagem-parceiros" src="https://www.baldan.com.br/uploads/pagina/elemento/campo/2016/04/eruWk8dL24jkoyFx/20141126100647GqTvdqtFCH_600x450.webp" alt="">
        </center>

        <div id="botoes-container">
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/coracao.png" onclick="toggleText()">
            <button id="botao-center" class="btn btn-primary curso-pointer" type="submit">Saiba mais</button>
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/favorito.png" onclick="toggleText()">

        </div>
    </div>
</section>


<section>
    <div class="estrutura">
        <img class="logo-parceiros" src="/img/LogoBaldan.png">

        <div class="post-textos">
            <p class="nome-parceiro">Baldan</p>
            <p class="tipo-parceiro">
                Empresa|Maquinas
                <img class="pontinhos" src="~/img/pontos.png">
            </p>
            <hr>
            <center><h5>AVOLA - Pulverizador Autopropelido</h5></center>
            <p class="texto-parceiros" id="texto-parceiros">
                Um pulverizador resistente e versátil com opções de reservatórios de 2000 ou 2500 litros e
                barras de 25 a 30 metros. Equipado com um motor de 190 cv e uma transmissão hidrostática bem ajustada,
                é capaz de navegar em diferentes tipos de terreno e superar obstáculos devido ao seu baixo peso.
                <br>


                Reservatórios: Disponível em opções de 2000 ou 2500 litros.
                <br>
                Alcance: Barras de 25 a 30 metros para cobertura eficaz.
                <br>
                Potência: Motor de 190 cv para desempenho superior.
                <br>
                Versatilidade: Adapte-se a diversos tipos de terreno com sua transmissão hidrostática.
                <br>
                Confiabilidade: Supere obstáculos com facilidade devido ao seu baixo peso.
                <br>
            </p>
        </div>
        <p class="ler-mais" onclick="toggleText()">Ler mais</p>
        <center>
            <img class="imagem-parceiros" src="https://www.baldan.com.br/uploads/pagina/elemento/campo/2023/04/7ie7DCK5iso4CMe3/00-avola-baldan.webp" alt="">
        </center>

        <div id="botoes-container">
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/coracao.png" onclick="toggleText()">
            <button id="botao-center" class="btn btn-primary curso-pointer" type="submit">Saiba mais</button>
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/favorito.png" onclick="toggleText()">

        </div>
    </div>
</section>




















