@{
    ViewData["Title"] = "Maquina";
}

<center><h1 id="titulo-Divulg">Divulgações de Maquinas</h1></center>


<section>
    <div class="estrutura">
      <img class="logo-parceiros"  src="/img/LogoBaldan.png">
       
        <div class="post-textos">
            <p class="nome-parceiro">Baldan</p>
            <p class="tipo-parceiro">
                Empresa|Maquinas
                <img class="pontinhos" src="~/img/pontos.png">
            </p>
            <hr>
            <center><h5>Apresentamos com entusiasmo a DEMETRA, nossa mais recente inovação em tecnologia agrícola.</h5></center>
            <p class="texto-parceiros" id="texto-parceiros">
                A Semeadora de Precisão Canavieira DEMETRA é a resposta para agricultores em
                busca de eficiência e precisão na semeadura de cana-de-açúcar.
                Com sua tecnologia de ponta, a DEMETRA.
                <br>
                Reservatórios: Disponível em opções de 2000 ou 2500 litros.
                <br>
                Alcance: Barras de 25 a 30 metros para cobertura eficaz.
                <br>
                Potência: Motor de 190 cv para desempenho superior.
                <br>
                Versatilidade: Adapte-se a diversos tipos de terreno com sua transmissão hidrostática.
                <br>
                Confiabilidade: Supere obstáculos com facilidade devido ao seu baixo peso.
                <br>
               
            </p>
        </div>
        <p class="ler-mais" onclick="toggleText()">Ler mais</p>
        <center>
            <img class="imagem-parceiros" src="https://www.baldan.com.br/uploads/pagina/elemento/campo/2016/04/eruWk8dL24jkoyFx/20141126100647GqTvdqtFCH_600x450.webp" alt="">
        </center>

        <div id="botoes-container">
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/coracao.png" onclick="toggleText()">
            <button id="botao-center" class="btn btn-primary curso-pointer" type="submit">Saiba mais</button>
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/favorito.png" onclick="toggleText()">

        </div>
    </div>
</section>


<section>
    <div class="estrutura">
        <img class="logo-parceiros" src="/img/LogoBaldan.png">

        <div class="post-textos">
            <p class="nome-parceiro">Baldan</p>
            <p class="tipo-parceiro">
                Empresa|Maquinas
                <img class="pontinhos" src="~/img/pontos.png">
            </p>
            <hr>
            <center><h5></h5></center>
            <p class="texto-parceiros" id="texto-parceiros">
                Um pulverizador resistente e versátil com opções de reservatórios de 2000 ou 2500 litros e
                barras de 25 a 30 metros. Equipado com um motor de 190 cv e uma transmissão hidrostática bem ajustada,
                é capaz de navegar em diferentes tipos de terreno e superar obstáculos devido ao seu baixo peso.
                <br>


                Reservatórios: Disponível em opções de 2000 ou 2500 litros.
                <br>
                Alcance: Barras de 25 a 30 metros para cobertura eficaz.
                <br>
                Potência: Motor de 190 cv para desempenho superior.
                <br>
                Versatilidade: Adapte-se a diversos tipos de terreno com sua transmissão hidrostática.
                <br>
                Confiabilidade: Supere obstáculos com facilidade devido ao seu baixo peso.
                <br>
            </p>
        </div>
        <p class="ler-mais" onclick="toggleText()">Ler mais</p>
        <center>
            <img class="imagem-parceiros" src="https://www.baldan.com.br/uploads/pagina/elemento/campo/2023/04/7ie7DCK5iso4CMe3/00-avola-baldan.webp" alt="">
        </center>

        <div id="botoes-container">
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/coracao.png" onclick="toggleText()">
            <button id="botao-center" class="btn btn-primary curso-pointer" type="submit">Saiba mais</button>
            <img class="curtirFavoritar curso-pointer zoom-in" src="~/img/favorito.png" onclick="toggleText()">

        </div>
    </div>
</section>




    <a href="#header" class="botao-topo">&uarr;</a>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 AgroConnect.</p>
        <ul>
            <li><a href="#">Termos de Uso</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</footer>