@{
    ViewData["Title"] = "Perfil";
}

<center><h1 id="titulo-Divulg">Divulgações de Serviços</h1></center>




    <a href="#header" class="botao-topo">&uarr;</a>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 AgroConnect.</p>
        <ul>
            <li><a href="#">Termos de Uso</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</footer>